* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 150px;
    color: #9e0000;
}

p {
    font-size: 35px;
    font-family: arial;
}

button {
    width: 25vw;
}
button:focus {
    outline: none;
}

#answerButton {
    border: none;
    background: none;
    color: #bdbdbd;
}
#answerButton:hover {
    color: #a3a3a3;
}

.baseWindow {
    height: 100vh;
    width: 100vw;
    background: #fafafa;
}

.activeWindow {
    height: 100vh;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
}


.textWindow {
    height: 50vh;
    background: #fcfcfc;
    box-shadow: 0px 1px 40px #e8e8e8;
}
